*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.top-nav {
  margin-top: 10px;
}
.new{
  display: inline-block;
  padding: 2px 6px;
  background: #00d7d2;
  border-radius: 8px;
  color: blue;
}
.left-nav a{
  color: grey;
  font-weight: bold;
}
nav {
  line-height: 22px;
  text-align: right;
}
header ul {
  list-style-type: none;
}
header li {
  display:  inline;
  margin-left: 20px;
}
header nav a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
