*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.top-nav {
  margin-top: 10px;
}
.new{
  display: inline-block;
  padding: 2px 6px;
  background: #00d7d2;
  border-radius: 8px;
  color: blue;
}
.left-nav a{
  color: grey;
  font-weight: bold;
}
nav {
  line-height: 22px;
  text-align: right;
}
header ul {
  list-style-type: none;
}
header li {
  display:  inline;
  margin-left: 20px;
}
header nav a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.top-nav {
  border-bottom: 1px solid lightgrey;
}

.bottom-nav{
  margin-top: 10px;
}
.bottom-nav ul{
  list-style-type: none;
  line-height: 35px;
}
.bottom-nav li {
  display: inline;
}
.bottom-nav ul a {
  text-decoration: none;
  color: grey;
}
.signup {
  padding: 8px 12px;
  background: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 8px;
  line-height: 35px
}
.right {
  text-align: right;
}
.visibile {
  display: none
}
.glyphicon-menu-hamburger {
  font-size: 25px;
  line-height: 25px;
}

.welcome {
  background: url(../assets/img/bgblue.png)
}
.welcome h1 {
  margin-top: 200px;
  font-size: 60px;
}
.welcome h1, .welcome h4 {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.container-form {
  margin-top: 100px;
  width: 90%;
  background: white;
  padding: 40px 30px;
  border-radius: 6px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.welcome h3 {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px
}
.input-group .form-control {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 6px;
}
.create {
  padding: 10px 18px;
  background: blue;
  color: white;
  display: inline-block;
  margin: 0 auto;
  border-radius: 6px;
}
.container-form h4 {
  text-align: center;
  color: grey;
  margin-bottom: 20px;
}
.google, .github {
  padding: 10px 18px;
  background: lightblue;
  color: darkblue;
  border-radius: 6px;
  border: 1px solid darkblue;
}
.container-create-account{
  text-align: center;
}
.container-buttons {
  text-align: center;
}
.google {
  margin-right: 20px;
}
@media screen and (max-width: 1199px){
  .nascondi {
    display: none;
  }
  .visibile{
    display: inline;
  }
}
@media screen and (max-width:1110px) {
  .welcome h1 {
    font-size: 40px;
  }
}
