*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.top-nav {
  margin-top: 10px;
}
.new{
  display: inline-block;
  padding: 2px 6px;
  background: #00d7d2;
  border-radius: 8px;
  color: blue;
}
.left-nav a{
  color: grey;
  font-weight: bold;
}
nav {
  line-height: 22px;
  text-align: right;
}
header ul {
  list-style-type: none;
}
header li {
  display:  inline;
  margin-left: 20px;
}
header nav a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.top-nav {
  border-bottom: 1px solid lightgrey;
}

.bottom-nav{
  margin-top: 10px;
}
.bottom-nav ul{
  list-style-type: none;
  line-height: 35px;
}
.bottom-nav li {
  display: inline;
}
.bottom-nav ul a {
  text-decoration: none;
  color: grey;
}
.signup {
  padding: 8px 12px;
  background: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 8px;
  line-height: 35px
}
.right {
  text-align: right;
}
.visibile {
  display: none
}
.glyphicon-menu-hamburger {
  font-size: 25px;
  line-height: 25px;
}

@media screen and (max-width: 1199px){
  .nascondi {
    display: none;
  }
  .visibile{
    display: inline;
  }

}
